
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #ffba71;
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
}

nav {
    background-color: #333;
    color: white;
    padding: 0.5rem 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 0.5rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4CAF50;
}

main {
    flex: 1;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    /* text-align: center; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

.card p {
    color: #555;
}

.card .question {
    margin-bottom: 1rem;
    text-align: left;
}

.card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

footer p {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
    }
}

#recent, #static, #sample-test{
    display: none;
};